@page
@model StudentEnrollmentSystem.Pages.Account.ChangePasswordModel
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>
<p>Password must be between 8 to 20 alphanumeric characters. Include at least one letter and one numeric digit.</p>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}
@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success">@Model.SuccessMessage</div>
}

<form method="post">
    <div class="form-group">
        <label for="ExistingPassword">Existing Password</label>
        <input type="password" class="form-control" id="ExistingPassword" asp-for="ExistingPassword" required />
    </div>
    <div class="form-group">
        <label for="NewPassword">New Password</label>
        <input type="password" class="form-control" id="NewPassword" asp-for="NewPassword" required />
    </div>
    <div class="form-group">
        <label for="ConfirmNewPassword">Reconfirm New Password</label>
        <input type="password" class="form-control" id="ConfirmNewPassword" asp-for="ConfirmNewPassword" required />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">UPDATE PASSWORD</button>
    <a asp-page="/Main" class="btn btn-secondary">CANCEL</a>
</form>